WebAppJavascript.v12.suo
WebAppJavascript.sln.ide/storage.ide
WebAppJavascript.sln.ide/edbtmp.log
WebAppJavascript.sln.ide/edbres00002.jrs
WebAppJavascript.sln.ide/edbres00001.jrs
WebAppJavascript.sln.ide/edb.log
WebAppJavascript.sln.ide/edb.chk
WebAppJavascript/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebAppJavascript/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebAppJavascript/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebAppJavascript/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs